* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.display-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.display-scores {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.heading {
  display: flex;
  gap: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  justify-content: flex-end;
}
